  @charset"utf-8";
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
 

  a {text-decoration:none;color:#131313;}
  body{  font-family: 'Noto Sans KR', sans-serif;  }

 header{width:100%; z-index:100000;position:absolute;top:0;
background:#fff;	height:50px;line-height:50px;/ text-align:center;}
	

#header {position:fixed;}
.nav {width:100%; height:50px; }
.search {position:absolute; top:10px; right:13px;}

.modal_back {    position: fixed;    top: 0;    left: 0;    right: 0;    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);    opacity: 0;    visibility: hidden;    z-index: 999999999999999;}
.header-inner {height:50px; line-height:50px; border-bottom:1px solid #ededed;}	
.logo{ text-align:center; margin:0 auto; height:50px; line-height:50px;}
.logo>a>img {width:105px;}


.hamburger{  background:none;
  position:absolute;  top:0;  left:0;
  width:40px; height:40px;
    padding:14px 0px 0px 15px;
  cursor:pointer; outline:none;  z-index:100000;  }

.cross{
width:32px; height:32px;
background:none;
  position:absolute;
 right:10px;top:10px;

cursor:pointer;
  outline:none;   z-index:100000;  }
 
.menu>.menudiv{height:50px; line-height:50px; border-bottom:1px solid rgba(0,0,0,0.1); box-sizing:border-box;}
.menu>div>a>span {padding-left:5px;}
.menu{z-index:100000; font-size:0.8em; 
height:100%;background:#fff; 
 position:fixed;left:-100%;top:0px;width:100%; border-right:1px solid rgba(0,0,0,0.2); box-sizing:border-box;}
.menu>ul {margin: 0; padding: 0; height:100%; text-align:left;}
.menu li {position:relative; text-indent:20px;  }
.menu_s>a>div {padding:13px 0 13px 0;}
.sub>li {padding:15px 0px 15px 0px;  position:relative;  background:#f5f5f5!important; border-bottom:1px solid rgba(0,0,0,0.2);}
 
/* .sub>li:last-child {border:none;} */
.menu>a {  font-weight:400;}
.menu_s .sub li:hover a{color:#000;}

.menu_s:hover div {background:#107e51; }

.menu_s>a>div {border-bottom:1px solid rgba(0,0,0,0.2);}

.menu_s:hover .sub>li>a {color:#000;}
.sub>li {background:#fff;}
.sub>li:hover>a {color:#107e51!important;}
.menu_s a {font-size:1.2em; font-weight:500;}
.sub a {font-size:1.1em; font-weight:400;}
.btn {position:absolute; top:10px; right:10px; width:30px; height:30px; }

 
.menu ul li a { text-decoration:none;  margin: 0px; color:#000;}
.menu ul li  ul {display:none;}
.menu >ul> li>  ul> li {text-align:left;padding-top:-30px;}
.menu >ul> li>  ul> li>a{display:block;}

.subsub {margin-top:15px;}

.subsub>li {padding:15px 0px 15px 0px; margin:0px 15px 0px 15px; border-top:1px solid rgba(0,0,0,0.2);}

	img {vertical-align:top;}
	
 