

* {
    margin:0; padding:0

}



body {
    font-family: '맑은 고딕' 돋움; font-size:0.75em; color:#333

}







ul li{

         list-style-type: none;

}



.tab-box{

         margin: 50px auto 0 auto;

         width:520px;

}



.tab-box ul{

         height:30px;

}


.tab-box li{

         float:left;

         width:100px;

         height:30px;      

         line-height:30px;          /* 중앙정렬 */

         margin-right: 2px;

         text-align: center;

         background-color: #ccc;

         border-radius:3px 3px 0 0;

cursor: pointer;

}



.tab-box li.selected{

         background-color: orange;

}



.tab-view{

         width:506px;

         height:100px;

         line-height: 100px;

         border: 1px solid gray;

         text-align:center;

         margin-top:-1px;

}